* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    text-align: justify;

}
.sub-header,a, p, .logo-header, .block-heading{
    color: #616161;
}

 body{
   /* background-image: url("images/background.png");
    background-repeat: repeat;
    background-size: cover;
    padding-top: 60px;
    */
     background-color: white;
     display: flex;
     flex-direction: column;

}

.menu-container{
    font-size: 20px;
    color: black;
}
.menu-container a{
    text-decoration: none;
    color: black;
    font-family: Calibri, sans-serif;
}
a:hover{
    text-decoration: none;
}
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 90%;
    margin: auto;
}
.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    opacity: 0.9;
}

.facebook {
    background-image: url("images/facebook.png");
    background-size: 100% 100%;
}

.instagram {
    background-image: url("images/instagram.png");
    background-size: 100% 100%;
}

.youtube {
    background-image: url("images/youtube.png");
    background-size: 100% 100%;
}
.icon:hover{
    opacity: 0.6;
}
.menu-left a, .menu-right a {
    text-decoration: none;
    margin-right: 10px;
}

.menu-left a:last-child {
    margin-right: 0;
}

.menu-right {
    display: flex;
    align-items: center;
}


.dropdown-language {
    position: relative;
}

.dropdown-language span {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;

}

.dropdown-content a {
    display: block;
    text-align: center;
    font-size: 0.9em;
}

.dropdown-language:hover .dropdown-content {
    display: block;
}
.dropdown-language a:hover{
    background-color: #ddd;
}

.contact-button {
    padding: 10px 15px;
    background-color: #2196F3;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    transition: filter 0.3s ease-out;
}
.contact-button:hover{
    filter: brightness(140%);
}
.menu-middle a {
    text-decoration: none;
    padding: 0 20px;

}
.menu-middle{
    display: flex;
    flex-direction: row;
}

.flag-block img{
    height: 20px;

}
.flag-block a:last-of-type img{
    margin-left: -30px;
}

.fa-facebook, .fa-instagram {
    /*font-size: 24px;

     */
}
.fa-facebook:hover, .fa-instagram:hover, .fa-youtube:hover {
    color: #0077b3;
}

.menu-item {
    position: relative;
    display: inline-block;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 150px;
}

.menu-item:hover .submenu {
    display: block;
    z-index: 10;
}

.submenu a {
    display: block;
    padding: 10px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 0.8em;

}

.submenu a:hover {
    background-color: #ddd;

}

.hero {
    background-image: url('images/background.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    float: left;
}
.image-header {
    position: relative;
    width: 100%;
    height: 500px;
}

.image-header img {
    display: block;
    width: 100%;
    height: 500px;
    filter: brightness(0.5);
    opacity: 0.5;
}

.image-header h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 36px;
}
.submenu a{
    z-index: 10;
}
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*background-image: url("images/background.png");
    background-repeat: repeat;
    background-size: cover;
     */
    background-color: white;
    width: 20%;
    float: right;
    text-align: center;
}


.sidebar-header{
    color: black;
}
.sidebar-block {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    flex: 1;
}

.sidebar-block:hover {
    background-color: #ccc;
}

.sidebar-block a {
    display: block;
    color: #000;
    text-decoration: none;
}
.sidebar-block h2,
.sidebar-block p {
    color: black;
    text-decoration: none;
}
.sidebar-block a:hover {
    text-decoration: underline;
}
.sidebar-block-header {
    font-size: 20px;
    margin-top: 0;
}

.sidebar-block-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.sidebar-block-text {
    font-size: 16px;
    margin-top: 0;
}
.content-block {
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
}
.container {
    display: grid;
    grid-template-areas:
    "menu"
    "main";
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas:
    "left sidebar";
    grid-template-columns: 4fr 1fr;
}

.left {
    grid-area: left;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
    width: 100%;
}

.logo-column {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-column img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.block {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block p{
    width: 100%;
}
.block ul, .block ol{
    width: 95%;
}
.block p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 1.5em;
}
.block-heading {
    font-size: 2em;
    margin-bottom: 1em;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Gabriela', serif;
    margin-top: 20px;
}
/*.indent{
    margin-left: 50px;
    padding: 0;
}
 */
.indent ul li{
    margin-top: -15px;
}
#project-desctiption-header{
    margin-top: 20px;
}
.sub-header {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    /* font-family: "Merriweather", serif; */
    font-family:  cursive, 'Pacifico';
    align-self: flex-start;
}
.indent ol{
    list-style: decimal;
}
.indent ol li::marker {
    font-size: 1.2em;
}
p.indent{
    margin-bottom: 10px;
}
.indent p{
    margin-bottom: 10px;
}
.double-indent{
    margin-left: 100px;
}
.double-indent ol{
    margin-top: -20px;
}
/*.align-left{
    align-self: flex-start;
}*/

#home-header{
    opacity: 1;
    font-family: "Calibri Light", sans-serif;
    color: #2c5494;
    font-style: italic;
    line-height: 1em;
}
.hero h1 {
    margin-top: 4%;
    width: 80%;
    font-size: 3rem;
    /* text-shadow: 2px 2px #333;

     */
}
.logo-header-container {
    display: flex;
    flex-direction: column;
}

.logo-header img {
    max-height: 120px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.logo-header h1 {
    font-size: 2em;
    font-weight: bold;
}
#logo-header-container-unique{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#logo-header-container-unique h1{
    margin: 20px auto;
}
.logo-header-logos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
/*
.block{
    background-color: white;
    padding: 0 2%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5), -5px 5px 5px rgba(0,0,0,0.5);
}
.backgroung-changed{
    background-image: url("images/backgroung-repeating.jpg");
}
 */
.flex-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.selected-en{
    color: #063fc0;
}
.selected-mk{
    color: #D20000;
}
#selected{
    color: #0074D9;
}
.selected{
    color: #0074D9;!important;
}
#selected-submenu{
    color: #0074D9;!important;
}
.submenu-project-information {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.submenu-project-information a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    color: black;
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.submenu-project-information a:hover {
    filter: brightness(110%);
    cursor: pointer;
}
.contact-block{
    width: 80%;
    margin: auto;
}
.contact-header{
    text-align: center;
    margin: 20px 0;
}
.map {
    float: right;
    width: 50%;
    height: 400px;
    margin-top: 20px;
}
.info {
    float: left;
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 400px;
}
.info > *{
    display: inline-block;
    padding: 20px;
    background-color: lightgray;
}
.info .address {
    display: inline-block;
    margin-bottom: 10px;

}
.phone {

}
.email {

}
.mail-link{
    text-decoration: none;
}
@media (max-width: 480px) {
    body{
        width: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .block{
        padding: 20px;
    }
    .menu{

        width: 90%;
        background-color: white;
    }
    .menu-container{
        justify-content: space-around;
    }
    .menu, .menu a{
        font-size: 1rem;
    }
    .menu-left{
        display: flex;
        flex-direction: column;
    }
    .menu-left a{
        font-size: 1rem;
    }
    .fa-facebook, .fa-instagram, .fa-youtube{
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
    }
    .menu-middle{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* creates two columns with equal width */
        gap: 10px;
    }
    .menu-middle a{
        padding: 0;
    }
    .flag-block{
        margin: 0;
        padding: 0;
    }
    .flag-block a:first-of-type img{
        margin-right: 30px;
    }
    .menu-right{
        display: flex;
        flex-direction: column;
    }
    .contact-button{
        order: -1;
        margin-bottom: 10px;
        padding: 5px 8px;
    }
    .show{
        display: none;
    }
    .image-header h1{
        font-size: 1.8em;
        width: 80%;
        margin: auto;
        text-align: center;
        top: 40%;
    }
    .contact-block{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
    }
    .contact-block .map{
        width: 100%;
        margin-bottom: 20px;
    }
    .map iframe{
        max-width: 100%;
    }
    .contact-block .info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .contact-block .info > *{
        max-width: 70%;
        margin: auto;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .logos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logos .logo-column {
        margin-bottom: 20px;
    }
    .content-block{
        display: flex;
        flex-direction: column;
    }
    .content-block .logo-column{
        width: 100%;
    }
    a.contact-button{
        text-align: center;
    }
    #home-header{
        font-size: 2em;
    }
    .block{
        max-width: 100%;
        width: 100%;
        box-shadow: none;
    }
    .block p{
        font-size: 14px;
    }
    .logo-header-container{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .logo-header-container .block-heading{
        order: -1;
        text-align: center;
    }
    .logo-header-container img{
        margin-bottom: 10px;
        margin-top: -20px;
    }

    #logo-header-container-unique{
        max-width: 100%;
        display: flex;
        flex-direction: column;

    }

    #logo-header-container-unique img{
        max-width: 90%;
    }
    .logo-header-logos{
        display: flex;
        flex-direction: column;
    }
    .sub-header{
        margin-bottom: 20px;
    }

    ul, ol{
        padding-left: 15px;
    }
    ul li, ol li {
        margin-top: -10px;
    }
    .submenu-project-information{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .submenu-project-information a, .submenu-project-information p{
        font-size: 1rem;
        padding: 0.3rem;
        margin-left: 8px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    body{
        width: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .menu{
        max-width: 100%;
        background-color: white;
    }
    .menu{
        font-size: 12px;
    }
    .show{
        display: none;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .logos {
        /* styles for your logos container */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logos .logo-column {
        margin-bottom: 20px;
    }
    .content-block{
        display: flex;
        flex-direction: column;
    }
    .content-block .logo-column{
        width: 100%;
    }
    a.contact-button{
        text-align: center;
    }
    #home-header{
        font-size: 2em;
    }
    .block{
        max-width: 100%;
        width: 100%;
        box-shadow: none;
    }
    .block p{
        font-size: 14px;
    }
    .logo-header-container{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .logo-header-container .block-heading{
        order: -1;
        text-align: center;
    }
    .logo-header-container img{
        margin-bottom: 10px;
        margin-top: -20px;
    }

    #logo-header-container-unique{
        max-width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }
    #logo-header-container-unique .block-heading{
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }
    #logo-header-container-unique a:first-of-type img{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    #logo-header-container-unique a:last-of-type img{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    #logo-header-container-unique img{
        max-width: 90%;
    }
    .sub-header{
        margin-bottom: 20px;
    }

    ul, ol{
        padding-left: 15px;
    }
    ul li, ol li {
        margin-top: -10px;
    }

}
.container-information {
    display: flex;
    align-items: center;
}

.image-banner {
    flex-basis: 40%;
    padding: 0 20px; /* Optional: Add padding for spacing */

}

.image-banner img {
    width: 100%;
}

.content-information {
    flex-basis: 60%;
    padding: 0 20px; /* Optional: Add padding for spacing */

}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px; /* Optional: Adjust the spacing between menu items */
}
.content-information > .backgroung-changed{
    width: 100%;
}
.content-information .block{
    max-width: 100%;
    width: 100%;
}
