
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    text-align: justify;
}
 body{
   /* background-image: url("images/background.png");
    background-repeat: repeat;
    background-size: cover;
    padding-top: 60px;
    */
     background-color: white;

}

.menu-container{
    font-size: 20px;
    color: black;
}
.menu-container a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 90%;
    margin: auto;
}

.menu-left a, .menu-right a {
    text-decoration: none;
    margin-right: 10px;
}

.menu-left a:last-child {
    margin-right: 0;
}

.menu-right {
    display: flex;
    align-items: center;
}

.dropdown-language {
    position: relative;
}

.dropdown-language span {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;

}

.dropdown-content a {
    display: block;
    text-align: center;
    font-size: 0.9em;
}

.dropdown-language:hover .dropdown-content {
    display: block;
}
.dropdown-language a:hover{
    background-color: #ddd;
}

.contact-button {
    padding: 10px 15px;
    background-color: #2196F3;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    transition: filter 0.3s ease-out;
}
.contact-button:hover{
    filter: brightness(140%);
}
.menu-middle a {
    text-decoration: none;
    padding: 0 20px;

}


.fa-facebook, .fa-instagram {
    /*font-size: 24px;

     */
}
.fa-facebook:hover, .fa-instagram:hover, .fa-youtube:hover {
    color: #0077b3;
}

.menu-item {
    position: relative;
    display: inline-block;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 150px;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu a {
    display: block;
    padding: 10px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 0.8em;

}

.submenu a:hover {
    background-color: #ddd;
}

.hero {
    background-image: url('images/background.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    float: left;
}
.hero h1 {
    margin-top: 4%;
    width: 80%;
    font-size: 3rem;
    text-shadow: 2px 2px #333;
}
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*background-image: url("images/background.png");
    background-repeat: repeat;
    background-size: cover;
     */
    background-color: white;
    width: 20%;
    float: right;
    text-align: center;
}


.sidebar-header{
    color: black;
}
.sidebar-block {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    flex: 1;
}

.sidebar-block:hover {
    background-color: #ccc;
}

.sidebar-block a {
    display: block;
    color: #000;
    text-decoration: none;
}
.sidebar-block h2,
.sidebar-block p {
    color: black;
    text-decoration: none;
}
.sidebar-block a:hover {
    text-decoration: underline;
}
.sidebar-block-header {
    font-size: 20px;
    margin-top: 0;
}

.sidebar-block-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.sidebar-block-text {
    font-size: 16px;
    margin-top: 0;
}
.content-block {
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
}
.container {
    display: grid;
    grid-template-areas:
    "menu"
    "main";
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas:
    "left sidebar";
    grid-template-columns: 4fr 1fr;
}

.left {
    grid-area: left;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
    width: 100%;
}

.logo-column {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-column img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.block {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 1.5em;
}
.block-heading {
    font-size: 2em;
    margin-bottom: 1em;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Gabriela', serif;
    margin-top: 20px;
}
/*.indent{
    margin-left: 50px;
    padding: 0;
}
 */
.indent ul li{
    margin-top: -15px;
}
#project-desctiption-header{
    margin-top: 20px;
}
.sub-header {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    /* font-family: "Merriweather", serif; */
    font-family:  cursive, 'Pacifico';
    align-self: flex-start;
}
.indent ol{
    list-style: decimal;
}
.indent ol li::marker {
    font-size: 1.2em;
}
p.indent{
    margin-bottom: 10px;
}
.indent p{
    margin-bottom: 10px;
}
.double-indent{
    margin-left: 100px;
}
.double-indent ol{
    margin-top: -20px;
}
/*.align-left{
    align-self: flex-start;
}*/
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    /* Change the size of the left and right columns */
    .main {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    /* Adjust the height of the sidebar blocks */
    .sidebar-block {
        height: auto;
    }
}
#home-header{
    opacity: 0.5;
    font-family: 'Gabriela', serif;
    color: indigo;
    font-style: italic;
    line-height: 1em;
}
.logo-header-container {
    display: flex;
    align-items: center;
}

.logo-header img {
    max-height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.logo-header h1 {
    font-size: 2em;
    font-weight: bold;
}
.block p{
    width: 90%;
}
.block ul, .block ol{
    width: 80%;
}

.block{
    background-color: white;
    padding: 0 2%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5), -5px 5px 5px rgba(0,0,0,0.5);
}
.backgroung-changed{
    background-image: url("images/backgroung-repeating.jpg");
}
.flex-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.selected-en{
    color: #063fc0;
}
.selected-mk{
    color: #D20000;
}
#selected{
    color: #0074D9;
}

@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .menu{
        width: 100%;
        background-color: white;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .logos {
        /* styles for your logos container */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logos .logo-column {
        /* styles for your logo columns */
        margin-bottom: 20px;
    }
    .content-block{
        display: flex;
        flex-direction: column;
    }
    .content-block .logo-column{
        width: 100%;
    }
}